{% extends 'layout/base.html' %}

{% block content %}

<main class="container py-5">
    <div class="card">
        <div class="card-header">
            GEMA SAS
        </div>
        <div class="card-body">
            <h5 class="card-title text-center">FORMULARIO DE CARGA DE INFORMACION</h5>

            <div>
                <a href="/upload/">volver</a>
            </div>
            <br> 
            <div>

                <h6>Usuarios activos</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in usersActive %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h6>Usuarios inactivos</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in usersInactive %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h6>Usuarios en espera</h6>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Email</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in usersWait %}
                        <tr>
                            <td>{{ user.email }}</td>
                            <td>{{ user.name }}</td>
                            <td>{{ user.surname }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>






{% endblock %}